@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito:ital,wght@0,400;0,600;1,400&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --bg-color: #0aa1dd;
  --primary-color: #e8f9fd;
  --primary-certo: #021e02;
  --primary-incorreto: #f30e0e;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: var(--font-family);
}

h1 {
  font-size: 4em;
  padding: 30px;
  margin-bottom: 10%;
}
h2 {
  font-size: 4em;
  padding: 10px;

  border-radius: 9px;
  font-weight: bold;
}
span {
  font-size: 4em;
  padding: 30px;
  color: var(--primary-color);
}
.box-resposta {
  color: var(--primary-certo);
  font-weight: bold;
}
.box-resposta-incorreto {
  color: var(--primary-incorreto);
}
.vcDisse {
  font-size: 2em;
  padding: 30px;
}
.btn-jogar {
  padding: 8px 15px;
  border: 0;
  background: var(--primary-color);
  border-radius: 5px;
  margin-top: 20px;
}

.box-pergunta {
  font-size: 1em;
  padding: 30px;
  color: var(--primary-color);
}

@media (max-width: 380px) {
  .box-resposta-incorreto {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    color: rgb(0, 255, 30);
  }
}

@media (max-width: 380px) {
  .box-resposta {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
  }
}
